<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <% f.label :fullname%><br />
    <%= f.text_field :fullname, :placeholder => "フルネーム"%>
  </div>
  
  <div class="field">
    <% f.label :username %><br />
    <%= f.text_field :username, :placeholder => "ユーザーネーム"%>
     <p><% f.label :email %><br />
     <%= f.email_field :email, :placeholder => "メールアドレス"%></p>
  </div>

  <div class="field">
    <% f.label :password %>
    <% if @minimum_password_length %>
    <%= f.password_field :password, autocomplete: "new-password",:placeholder => "パスワード 最小文字数：#{@minimum_password_length}" %>
    <% end %>
  </div>

  <div class="field">
    <% f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "パスワード再入力" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= link_to "利用規約", term_of_use_path %>