
<%= form_for current_user, url: {action: 'profile_update'} do |f| %>
 
  <div class="field">
    <%= f.label :fullname, "名前" %><br />
    <%= f.text_field :fullname %>
  </div>
  
  <div class="field">
    <%= f.label :username, "ユーザーネーム" %><br />
    <%= f.text_field :username %>
  </div>
  
  <div class="field">
    <%= f.label :website, "ウェブサイト" %><br />
    <%= f.text_field :website %>
  </div>
  
  <div class="field">
    <%= f.label :profile, "自己紹介" %><br />
    <%= f.text_field :profile %>
  </div>
  
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :telephone_number, "電話番号" %><br />
    <%= f.text_field :telephone_number %>
  </div>
  
  <div class="field">
    <%= f.label :sex, "性別" %><br />
    <%= f.text_field :sex %>
  </div>
 
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  
<% end %>

<%= link_to "パスワード変更", edit_user_registration_path %>

<%= link_to "アカウント削除", user_registration_path, method: :delete,
                        data: { confirm: "You sure?" } %>