<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
  <div>
    <span>
      <%= visitor.fullname %>さんが、
      <% case notification.action %>
        <% when 'follow' then %>
          <%= "あなたをフォローしました" %>
        <% when 'like' then %>
          <%= link_to 'あなたの投稿', notification.micropost %>
          <%= "にいいねしました" %>
        <% when 'comment' then %>
          <% if notification.micropost.user_id == visited.id %>
            <%= link_to "あなたの投稿", notification.micropost %>
          <% else %>
            <%= notification.micropost.user.fullname + 'さんの投稿' %>
          <% end %>
        <%= "にコメントしました" %>
        <p> <%= Comment.find_by(id: notification.comment_id)&.body %></p>
      <% end %>
    </span>
  </div>
</div>