<% provide(:title, @user.fullname) %>

<h3><%= @user.fullname %>のプロフィール画面</h3>

<p>自己紹介　<%= @user.profile %> </p>

<!--　フォロワー数などここに表示-->
<%= render 'shared/stats' %>

<%= render 'follow_form' %>

<div>
  <% if @user.microposts.any? %>
  <h3>投稿数 <%= @user.microposts.count %> 件</h3>
  <ul>
    <%= render @microposts %>
  </ul>
  <% end %>
</div>

<% if current_user.id.to_s == params[:id] %>
  <%= link_to 'プロフィール編集', profile_edit_path %>
<% end %>