<% provide(:title, 'Instagram') %>
<% if current_user %>
  <div>
    <section class = "user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class = "Micropost Feed">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </section>
  </div>
<% end %>
