<h1>利用規約</h1>

<p>
Instagramへようこそ！

この利用規約は、Instagramをご利用いただく際に適用されるものであり、Instagramサービスに関する情報を提供するものです。<br>
Instagramアカウントを作成する場合、またはInstagramをご利用になる場合は、本規約に同意していただくことになります。<br>

Instagramサービスは、Facebook, Inc.が提供するFacebook製品の1つです。したがって本規約は、利用者とFacebook, Inc.の間での合意を構成するものです。
</p>
