<% provide(:title, 'Login') %>

<h2>Instagram</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <p><% f.label :login %><br />
    <%= f.text_field :login, :placeholder => "ユーザーネーム、メールアドレス"%></p>
  </div>

  <div class="field">
    <% f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
