<li id = "micropost-<%= micropost.id %>">
  <span><%= link_to micropost.user.fullname, micropost.user %></span>
  <span><%= micropost.content %></span>
  <%= image_tag micropost.picture.url if micropost.picture? %>
  <%= link_to micropost.content, micropost_path(micropost.id) %>
  <!-- 写真をリンク先としたい-->
  <% if micropost.favorited_by?(current_user) %>
    <p><%= link_to "お気に入りから削除", 
    micropost_favorites_path(micropost.id), method: :delete %></p>
  <% else %>
    <p><%= link_to "お気に入り登録",
    micropost_favorites_path(micropost.id), method: :post %></p>
  <% end %>
  <% micropost.comments.each do |c| %>
  <p><span>コメント内容: </span><%= c.body %></p>
<% end %>
</li>




<%= form_for([@micropost, @comment], url: micropost_comments_path(micropost.id), 
                                     method: :post) do |f| %>
  <%= f.text_field :body %>
  <%= f.submit "コメントする" %>
<% end %>
<!--<textarea cols="30" name="body" placeholder="コメント入力欄" rows="2"></textarea>-->
<!--<br/>-->
<!--<input type="submit" value="コメントする">-->