<% provide(:title, '写真アップロード') %>
<h1>写真アップロード</h1>

<div>
  <aside>
    <section>
       <!--render 'shared/user_info' -->
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
</div>
