<h1>写真個別ページ</h1>
<p>投稿詳細:</p>
<%= image_tag @micropost.picture.url if @micropost.picture? %>
<%= @micropost.content %>

<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <p><span>コメント内容: </span><%= c.body %></p>
<% end %>

<%= form_for([@micropost, @comment], url: micropost_comments_path(@micropost.id), 
                                     method: :post) do |f| %>
  <%= f.text_field :body %>
  <%= f.submit "コメントする" %>
<% end %>
<% if current_user?(@micropost.user) %>
<%= link_to "delete", micropost_path(@micropost), method: :delete,
                      date: { confirm: "You sure?" } %>
<% end %>