<header>
  <nav>
    <%= link_to 'インスタグラム',     root_path %>
    <% if user_signed_in? %>
      <%= link_to '自分のプロフィール', current_user %>
      <%= link_to 'ログアウト',         destroy_user_session_path, method: :delete %>
      
      <% if unchecked_notifications.any? %>
        <%= link_to "通知あり", notifications_path %>
      <% else %>
        <%= link_to "通知なし", notifications_path %>
       <% end %>
    <% end %>
    <%= render "shared/search" %>
  </nav>
</header>